.vscode/
target/
dbt_packages/
logs/

**/__pycache__/
src/loader/__pycache__/
src/loader/spark-warehouse/
src/notebook/*.json

terraform/.terraform/
terraform/*.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/output.json